{% extends "layout.twig" %}


{% block content %}
<section class="container-fluid bg-light py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card shadow-lg">
        <div class="card-body text-center">
          <h4 class="card-title mb-4">Vérification 2FA</h4>
          <p class="card-text mb-4">Votre code se trouve dans l'application google authenticator</p>

          {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
          {% endif %}

          <form method="post" action="get2fa.php">
            <div class="mb-3">
              <input type="text" name="code" class="form-control form-control-lg text-center" maxlength="6" placeholder="Entrez le code" required />
            </div>

            <button type="submit" class="btn btn-primary w-100 mb-3">Vérifier</button>
          </form>

          <a href="https://devbox.u-angers.fr/~thibaultgicquel6201/" class="btn btn-secondary w-100 mt-3">Retour à la connexion</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
