<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link href="https://devbox.u-angers.fr/~thibaultgicquel6201/css/site.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha384-UG8ao2jwOWB7/oDdObZc6ItJmwUkR/PfMyt9Qs5AwX7PsnYn1CRKCTWyncPTWvaS" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link href="https://devbox.u-angers.fr/~thibaultgicquel6201/css/sidebar.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel='icon' type='image/png' href='https://devbox.u-angers.fr/~thibaultgicquel6201/img/signin_icon.png'>
    {% if activePage == 'members' %}
    <link href="https://devbox.u-angers.fr/~thibaultgicquel6201/css/member.css" rel="stylesheet">
    {% elseif activePage == 'wines' %}
    <link href="https://devbox.u-angers.fr/~thibaultgicquel6201/css/wineList.css" rel="stylesheet">
    {% endif %}

        {% endblock %}
    </head>
    <body>	

        <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-2 sidebar">
                {% block sidebar %}
                {% endblock %}
            </div>
            <div class="col-md-9 col-lg-10 content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

        <footer class="footer">
        {% block footer %}

        {% endblock %}
        </footer>
    </body>
</html>

