{% extends "layout.twig" %}

{% block title %}Exemple de contrôleur{% endblock %}

{% block content %}
<div class="container">
        <div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
            <main class="form-signin">
            <form method="post" action="?a=form-login">
                <h1 class="h3 mb-3 fw-normal">Formulaire de connexion</h1>

                <div class="form-floating">
                <input name="user" type="text" class="form-control" id="floatingInput" placeholder="nom utilisateur">
                <label for="floatingInput">nom utilisateur</label>
                </div>
                <div class="form-floating">
                <input name="pass" type="password" class="form-control" id="floatingPassword" placeholder="mot de passe">
                <label for="floatingPassword">mot de passe</label>
                </div>

                <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Se souvenir de moi
                </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary btn-info btn-block login" type="submit">Connexion</button>
                <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
            </form>
            </main>


            </div>
        </div>
        
</div>
{% endblock %}

