<!-- Exemple de vin -->
<div class="list-box card mt-4">
    <div class="p-4 card-body">
        <div class="align-items-center row">
            <div class="col-auto">
                <div class="list-images">
                    <img src="https://devbox.u-angers.fr/~thibaultgicquel6201/img/wines/red-wine-bottle-png.webp" alt="Bouteille de vin" class="avatar-md img-thumbnail rounded-circle" />
                </div>
            </div>
            <div class="col-lg-5">
                <div class="list-content mt-3 mt-lg-0">
                    <h5 class="fs-19 mb-0">
                        Château Margaux
                    </h5>
                    <p class="text-muted mb-2">Appellation : Margaux</p>
                    <ul class="list-inline mb-0 text-muted">
                        <li class="list-inline-item"><i class="mdi mdi-map-marker"></i> Bordeaux, France</li>
                        <li class="list-inline-item"><i class="mdi mdi-calendar"></i> Millésime : 2015</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1">
                    <span class="badge bg-soft-secondary fs-14 mt-1">Rouge</span>
                    <span class="badge bg-soft-secondary fs-14 mt-1">Grand Cru</span>
                    <span class="badge bg-soft-secondary fs-14 mt-1">13.5% Vol</span>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Exemple de vin -->