<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<section id="wine-section" class="section-wine">
    <div class="container-wine">
        <!-- Recherche et filtres -->
        <div class="justify-content-center row-wine">
            <div class="col-lg-12">
                <div class="wine-list-widgets mb-4">
                    <form action="#" class="">
                        <div class="g-2 row-wine">
                            <div class="col-lg-3">
                                <div class="wine-filter-form">
                                    <i class="uil uil-briefcase-alt"></i>
                                    <input id="wineSearchInput" placeholder="Nom du domaine, Appellation..." type="search" class="form-control wine-input-box form-control" />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="wine-filter-form">
                                    <i class="uil uil-map-marker"></i>
                                    <select class="form-select selectForm__inner" id="regionSelect" aria-label="Filtrer par région">
                                        <option value="Bordeaux">Bordeaux</option>
                                        <option value="Bourgogne">Bourgogne</option>
                                        <option value="Provence">Provence</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="wine-filter-form">
                                    <i class="uil uil-clipboard-notes"></i>
                                    <select class="form-select selectForm__inner" id="typeSelect" aria-label="Filtrer par type">
                                        <option value="Rouge">Vin Rouge</option>
                                        <option value="Blanc">Vin Blanc</option>
                                        <option value="Rosé">Vin Rosé</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div>
                                    <button class="btn btn-primary" type="submit"><i class="uil uil-filter"></i> Filtrer</button>
                                    <button class="btn btn-success ms-2" type="button"><i class="uil uil-cog"></i> Avancé</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Liste des vins -->
        <div class="row-wine">
            <div class="col-lg-12">
                <div class="wine-list">
                    <!-- Exemple de vin -->
                    <div class="wine-list-box card mt-4">
                        <div class="p-4 card-body">
                            <div class="align-items-center row-wine">
                                <div class="col-auto">
                                    <div class="wine-list-images">
                                        <img src="images/wine1.jpg" alt="Bouteille de vin" class="wine-img-thumbnail" />
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="wine-list-content mt-3 mt-lg-0">
                                        <h5 class="fs-19 mb-0">
                                            Château Margaux
                                        </h5>
                                        <p class="text-muted mb-2">Appellation : Margaux</p>
                                        <ul class="list-inline mb-0 text-muted">
                                            <li class="list-inline-item"><i class="mdi mdi-map-marker"></i> Bordeaux, France</li>
                                            <li class="list-inline-item"><i class="mdi mdi-calendar"></i> Millésime : 2015</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mt-2 mt-lg-0 d-flex flex-wrap align-items-start gap-1">
                                        <span class="badge bg-soft-secondary fs-14 mt-1">Rouge</span>
                                        <span class="badge bg-soft-secondary fs-14 mt-1">13.5% Vol</span>
                                        <span class="badge bg-soft-secondary fs-14 mt-1">Grand Cru</span>
                                    </div>
                                </div>
                            </div>
                            <div class="favorite-icon">
                                <a href="#"><i class="mdi mdi-heart fs-18"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Exemple de vin -->
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <div class="row-wine">
            <div class="mt-4 pt-2 col-lg-12">
                <nav aria-label="Page navigation example">
                    <div class="pagination wine-pagination mb-0 justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" href="#"><i class="mdi mdi-chevron-double-left fs-15"></i></a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#"><i class="mdi mdi-chevron-double-right fs-15"></i></a>
                        </li>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
