<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<section id="wine-section" class="section-wine">
    <div class="container-wine">
        <!-- Recherche et filtres -->
        <div class="justify-content-center row">
            <div class="col-lg-12">
                <div class="wine-list-widgets mb-4">
                    <form action="#" class="">
                        <div class="g-2 row">
                            <div class="col-lg-3">
                                <div class="wine-filter-form">
                                    <i class="uil uil-briefcase-alt"></i>
                                    <input id="wineSearchInput" placeholder="Nom du domaine, Appellation..." type="search" class="form-control wine-input-box form-control" />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="wine-filter-form">
                                    <i class="uil uil-map-marker"></i>
                                    <select class="form-select selectForm__inner" id="regionSelect" aria-label="Filtrer par région">
                                        <option value="Bordeaux">Bordeaux</option>
                                        <option value="Bourgogne">Bourgogne</option>
                                        <option value="Provence">Provence</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="wine-filter-form">
                                    <i class="uil uil-clipboard-notes"></i>
                                    <select class="form-select selectForm__inner" id="typeSelect" aria-label="Filtrer par type">
                                        <option value="Rouge">Vin Rouge</option>
                                        <option value="Blanc">Vin Blanc</option>
                                        <option value="Rosé">Vin Rosé</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div>
                                    <button class="btn btn-primary" type="submit"><i class="uil uil-filter"></i> Filtrer</button>
                                    <button class="btn btn-success ms-2" type="button"><i class="uil uil-cog"></i> Avancé</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Liste des vins -->
        <div class="row-wine">
            <div class="col-lg-12">
                <div class="wine-list">
                    <!-- Exemple de vin -->
                     {% include 'wineListElem.twig' %}
                     {% include 'wineListElem.twig' %}
                    <!-- Fin Exemple de vin -->
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <div class="row-wine">
            <div class="mt-4 pt-2 col-lg-12">
                <nav aria-label="Page navigation example">
                    <div class="pagination wine-pagination mb-0 justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" href="#"><i class="mdi mdi-chevron-double-left fs-15"></i></a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#"><i class="mdi mdi-chevron-double-right fs-15"></i></a>
                        </li>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
